.dashed-container-top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.dashed-border-top-left {
    width: 150px; /* Adjust for the desired length of the "L" shape */
    height: 150px;
    border-radius: 0 15px 0 0; /* Rounded top-right corner */
    padding: 10px;
    background: 
        linear-gradient(90deg, black 50%, transparent 50%) 100% 0 / 10px 2px repeat-x, /* Top dashed line */
        linear-gradient(0deg, black 50%, transparent 50%) 100% 0 / 2px 10px repeat-y; /* Right dashed line */
    animation: dash-top-left 2s linear infinite;
}

/* Animation for moving dashed effect in specific directions */
@keyframes dash-top-left {
    0% {
        background-position: 100% 0, 100% 100%;
    }
    100% {
        background-position: 0 0, 100% 0;
    }
}
@media only screen and (max-width: 1280px){
    .dashed-container-top-left{
        display: none;
    }
}



@media only screen and (min-width: 1280px){
    .dashed-container-top-left{
        position: relative;
        display: block;
    }
    .dashed-border-top-left {
        position: absolute;
        top: -9rem;
        left: 25rem;
    }
}
@media only screen and (min-width: 1400px){
    .dashed-border-top-left {
        top: -9rem;
        left: 29rem;
    }
}