.sidebar {
    position: fixed;
    top: 0;
    right: 0; 
    width: 100vw;
    height: 100vh; 
    background-color: #ffffff;
    color: #020A19;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column; 
}

.sidebar.show {
    transform: translateX(0);
}

.sidebar-content {
    width: 100%; 
    padding: 20px;
}

.close-btn-container {
    display: flex; 
    justify-content: flex-end;
    margin-bottom: 20px; 
}

.close-btn {
    background: none;
    border: none;
    color: #020A19;
    font-size: 2rem; /* Adjust the size of the close button */
    cursor: pointer;
}

.list-unstyled {
    display: flex;
    flex-direction: column; 
    width: 100%; 
}

.types1 {
    width: 100%; 
    text-align: left;
    padding: 15px 0; 
    border-top: 1px solid #D7D7D7;
    
}
.types2 {
    width: 100%; 
    text-align: left; 
    padding: 15px 0;
    border-top: 1px solid #D7D7D7;
    
}
.types3 {
    width: 100%; 
    text-align: left; 
    padding: 15px 0; 
    border-top: 1px solid #D7D7D7;
   
}
.types4 {
    width: 100%; 
    text-align: left; 
    padding: 15px 0; 
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
}

.days {
    margin: 20px 0; 
    padding: 10px 20px; 
    background-color: #DC0735; 
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
}

.days:hover {
    background-color: #bb022a; 
}
