.management{
    padding-top: 80px;
    padding-bottom: 60px;
}
@media only screen and (max-width: 600px){
    .manage-title{
        font-size: 30px;
    }
    .manage-content h2{
        font-size: 24px;
    }
}
@media only screen and (min-width: 600px){
    .manage-title{
        font-size: 30px;
    }
    .manage-content h2{
        font-size: 24px;
    }
}
@media only screen and (min-width: 1400px){
    .manage-title{
        margin: 0 auto;
        width: 60%;
        font-size: 40px;
    }
    .manage-content{
        padding: 0px 18px;
    }
    .manage-content h2{
        font-size: 32px;
    }
}