/* Navbar.css */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 1000;
    background-color: #060D1B; 
    color: #FFFFFF; 
    padding: 10px 20px; 
    transition: background-color 0.3s, color 0.3s; 
    cursor: pointer;
}

.navbar-container.scrolled {
    background-color: #FFFFFF; 
    color: #020a19; 
}

.navbar-container:hover {
    background-color: #FFFFFF; 
    color: #020a19;
}

.sidbar-section {
    display: flex;
    justify-content: space-between;
}

.nav-first {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.day {
    padding: 10px 26px;
    background-color: #DC0735;
    color: #FFFFFF;
    border: none;
    margin-top: 5px;
    border-radius: 3px;
}
.day{
    background-color: #bb022a;
}

.hamburger-icon {
    font-size: 25px;
}

@media only screen and (max-width: 992px) {
    .hamburger-icon {
        display: block;
    }
    .day {
        display: none;
    }
    .nav-content {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .hamburger-icon {
        display: none;
    }
}
