.first-card span,
.second-card span,
.third-card span,
.fourth-card span {
    color: #DD0735;
    font-size: 20px;
    opacity: 0;
    /* Hide initially */
    overflow: hidden;
    /* Hide overflow for smooth transition */
    transition: max-height 0.3s ease, opacity 0.3s ease;
    /* Smooth transition */
    /* display: inline-block;  */
}


.first-card:hover span,
.second-card:hover span,
.third-card:hover span,
.fourth-card:hover span {
    max-height: 40px;
    /* Expand height (adjust as needed) */
    opacity: 1;
    /* Fade in */
    transition: max-height 0.3s ease, opacity 0.3s ease;
    margin-bottom: 22px;
    display: inline-block;

}

.first-card,
.second-card,
.third-card,
.fourth-card {
    transition: transform 0.3s ease;
    /* Apply transition for move-up effect */
}

.first-card:hover,
.second-card:hover,
.third-card:hover,
.fourth-card:hover {
    transform: translateY(-10px);
    /* Move the card up on hover */
}



.hexnode-img {
    height: 120px;
    width: 120px;
}

.first-card,
.second-card,
.third-card,
.fourth-card {
    text-align: left;
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 40px;
    border: 1px solid #D7D7D7;
    border-radius: 8px;
}

.first-card h3,
.second-card h3,
.third-card h3,
.fourth-card h3 {
    font-weight: 700;
    font-size: 24px;
}

.first-card p,
.second-card p,
.third-card p,
.fourth-card p {

    font-size: 18px;
}

.way-set {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.unified {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.way-icons {

    background-color: #F8FAFF;
    color: #3371ED;
}

.reason-title {
    font-weight: 700;
}

.reason-secton {
    padding: 80px 0px;
    background-color: #F7F7F7;
}

@media only screen and (max-width: 1280px) {
    .hexnode-img {
        display: none;
    }
}

@media only screen and (max-width: 992px) {

    .first-card,
    .third-card {
        margin-bottom: 3rem;
    }

    .reason-title {
        font-size: 30px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {

    .first-card span,
    .second-card span,
    .third-card span,
    .fourth-card span {
        font-size: 15px;
    }

    .unified,
    .way-set {
        justify-content: left;
    }

    .unified img,
    .way-set img {
        height: 25px;
    }
}
@media only screen and (max-width: 480px){
    .first-card h3,
    .second-card h3,
    .third-card h3,
    .fourth-card h3 {
        font-size: 18px;
    }

    .first-card p,
    .second-card p,
    .third-card p,
    .fourth-card p {

        font-size: 16px;
    }
}

@media only screen and (min-width: 992px) {
    .reason-title {
        font-size: 40px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 1280px) {
    .first-card {
        width: 70%;
    }

    .second-card {
        width: 70%;
    }

    .third-card {
        width: 70%;
    }

    .fourth-card {
        width: 70%;
    }

    .card-section-one {
        display: flex;
        justify-content: left;
    }

    .card-section-two {
        display: flex;
        justify-content: right;
    }

    .card-section-three {
        display: flex;
        justify-content: left;
    }

    .card-section-four {
        display: flex;
        justify-content: right;
    }

    .hexnode-img {
        display: block;
    }

    .unified h3 {
        text-align: left;
    }

    .unified img {
        margin-bottom: 13px;
    }
}

@media only screen and (min-width: 1400px) {
    .unified {
        padding-left: 0rem;
        white-space: nowrap;
    }

    .automation h3 {
        white-space: nowrap;
    }

    .unified img {
        margin-bottom: 0px;
    }
}